<!DOCTYPE html>
<html lang="en">
<head>
    <title>about</title>
    {{>titles}}
</head>
<body>
    <!-- Navbar -->
    {{>navbar}}

    <!-- About Section -->
    <div class="container my-5">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center">About Us</h1>
                <p class="text-center">Your Trusted Weather Information Source</p>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <h3>Who We Are</h3>
                        <p>We are passionate about providing accurate, up-to-date weather information to help people stay informed and prepared. Whether you're planning a trip, managing your daily activities, or preparing for unexpected weather events, our app is here to guide you.</p>
                    </div>
                    <div class="col-md-6">
                        <img src="images/17FD95FDD8A344FA818484939C82BB05.jpg" alt="About Us" class="img-fluid rounded">
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-6">
                        <img src="images/logo-white.png" alt="Our Mission" class="img-fluid rounded">
                    </div>
                    <div class="col-md-6">
                        <h3>Our Mission</h3>
                        <p>Our mission is to provide timely and accurate weather updates with a user-friendly interface. We aim to make weather information accessible to everyone, helping you make informed decisions and stay safe.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Section -->
    {{>footer}}
</body>
</html>
